*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html,body{
    transition: 0.5s ease-in-out;
}
header{
    background-color: rgb(95, 71, 71);
    padding: 10px 0px;
    box-shadow: 0 3px 3px black;
}
header .container-cabecalho h1{
    color: #fff;
    font-family: "Quicksand", sans-serif;
    font-optical-sizing: auto;
    font-weight: normal; /* "weight" é um valor inválido, use "normal", "bold" ou um número (ex: 400) */
    font-style: normal;
}
header .container-cabecalho{
    display: flex;
    justify-content: space-between;
    margin: 0 30px;
    align-items: center;
}
header .container-cabecalho button{
    width: 40px;
    height: 40px;
    background-color: #fff;
    transition: 0.3s ease-in-out;
    border: none;
    border-radius: 15px;
}
header .container-cabecalho button:hover{
    background-color: #b6b6b6a1;
}
main{
    background-color: #000000;
}
main section .container-mae .card-login{
    background-color: rgb(255, 255, 255);
    padding: 20px;
    border-radius: 15px;
    width: 80%;
    height: 80vh;
}
main section .container-mae .card-login h1, h2{
    margin-bottom: 10px;
    font-family: "Quicksand", sans-serif;
    font-optical-sizing: auto;
    font-weight: normal; /* "weight" é um valor inválido, use "normal", "bold" ou um número (ex: 400) */
    font-style: normal;

}
main section .container-mae .card-login .formulario{
    width: 100%;
}
main section .container-mae .card-login .formulario form{
    display: flex;
    flex-direction: column;
    gap: 2px;
}
main section .container-mae .card-login .formulario button{
    margin-top: 10px;
    padding: 20px;
    background-color: rgb(0, 2, 139);
    color: #fff;
    border: none;
    border-radius: 10px;
}
main section .container-mae .card-login .formulario input{
    width: 100%;
    padding: 15px;
    border-radius: 8px;
    border: 1px solid rgba(0, 0, 0, 0.342)
}
main section .container-mae .card-login .rede-social{
    width: 100%;
    margin-top: 30px;
}
main section .container-mae .card-login .rede-social ul{
    display: flex;
}
main section .container-mae .card-login .rede-social ul li{
    width: 100%;
    text-align: center;
    list-style: none;
}
main section .container-mae .card-login .rede-social ul li a{
    text-decoration: none;
}
main section .container-mae .card-login .rede-social ul li a img{
    width: 100%;
}

main section .container-mae{
    display: flex;
    justify-content: center;
    align-items: center;
    height: calc(100vh - 70px); /* Calcula a altura da tela menos a altura aproximada do header */
}
